<div class="flex align-items-center justify-content-center">
    <div style="width: 60rem">
        <form
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    var(--primary-color) 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="h-full w-full m-0 py-7 px-4"
                style="
                    border-radius: 53px;
                    background: linear-gradient(
                        180deg,
                        var(--surface-50) 38.9%,
                        var(--surface-0)
                    );
                "
            >
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">
                        Welcome to HR!
                    </div>
                    <span class="text-600 font-medium"
                        >Sign in to continue</span
                    >
                </div>

                <div class="w-full md:w-10 mx-auto">
                    <label class="block text-900 text-xl font-medium mb-2"
                        >Username</label
                    >
                    <input
                        formControlName="username"
                        type="text"
                        name="username"
                        placeholder="Username"
                        pInputText
                        class="w-full mb-3"
                        style="padding: 1rem"
                    />
                    <p-message
                        *ngIf="username && username.invalid && username.touched"
                        severity="warn"
                        text="Username required!"
                        styleClass="mr-2"
                    ></p-message>

                    <label class="block text-900 text-xl font-medium mb-2"
                        >Password</label
                    >
                    <input
                        formControlName="password"
                        type="password"
                        name="password"
                        placeholder="password"
                        pInputText
                        class="w-full mb-3"
                        style="padding: 1rem"
                        
                    />
                    <p-message
                        *ngIf="password && password.invalid && password.touched"
                        severity="warn"
                        text="Password required!"
                        styleClass="mr-2"
                    ></p-message>

                    <div
                        class="flex align-items-center justify-content-between mb-5"
                    >
                        <div class="flex align-items-center">
                            <p-checkbox
                                id="rememberme1"
                                styleClass="mr-2"
                            ></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a routerLink="/reset"
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)"
                            >Forgot password?</a
                        >
                    </div>
                    <button
                        pButton
                        [disabled]="loginForm.invalid"
                        type="submit"
                        label="login"
                    ></button>
                    <!-- <p-button label="Click" ></p-button> -->
                    <div>
                        <a
                            [routerLink]="['/register']"
                            class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)"
                            >create account?</a
                        >
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
