<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openNew()"
            ></button>
            <button
                pButton
                pRipple
                label="Delete"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelectedProjects()"
                [disabled]="!selectedProjects || !selectedProjects.length"
            ></button>
        </ng-template>

        <ng-template pTemplate="right">
            <button
                pButton
                pRipple
                label="Export"
                icon="pi pi-upload"
                class="p-button-help"
            ></button>
        </ng-template>
    </p-toolbar>

    <p-table
        #dt
        [value]="projects"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['projectName']"
        responsiveLayout="scroll"
        [(selection)]="selectedProjects"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Projects</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="dt.filterGlobal($event.target, 'contains')"
                        placeholder="Search..."
                    />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="projectName">
                    projectName <p-sortIcon field="projectName"></p-sortIcon>
                </th>
                

                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
            <tr>
                <td>
                    <p-tableCheckbox [value]="project"></p-tableCheckbox>
                </td>
                <td>{{ project.projectName }}</td>
                

                <td>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-success mr-2"
                        (click)="editProject(project)"
                    ></button>
                    <button
                        pButton
                        pRipple
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-warning"
                        (click)="deleteProject(project)"
                    ></button>
                    <button
                        style="margin-left: 2%"
                        pButton
                        pRipple
                        icon="pi pi-upload"
                        class="p-button-rounded p-button-help"
                        (click)="findTaskByProject(project)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are
                {{ projects ? projects.length : 0 }} projects.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [(visible)]="projectDialog"
    [style]="{ width: '450px' }"
    header="Project Details"
    [modal]="true"
    styleClass="p-fluid"
>
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input
                type="text"
                pInputText
                id="name"
                [(ngModel)]="project.projectName"
                required
                autofocus
            />
            <small class="p-error" *ngIf="!project.projectName"
                >Name is required.</small
            >
        </div>

        

        <!-- ...remaining code... -->
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveProject()"
        ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
